.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: transparent;
}

.login-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 720px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    box-shadow: 0 15px 20px rgba(0,0,0,0.6);

}

.login-popup .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #878484;
    cursor: pointer;
}

.login-popup .form-box {
    display: flex;
}

.form-box .form-details {
    max-width: 330px;
    width: 100%;
    color: #fff;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("background_login.png");
    background-size: cover;
    background-position: center;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

.input-field input:focus {
    border-color: orange;
}

form .input-field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

form .input-field input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    border: 1px solid #717171;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}

form .input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    color: #717171;
    pointer-events: none;
    transform: translateY(-50%);
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ label {
    color: orange;
    font-size: 0.75rem;
    transform: translateY(-120%);
}

.form-box a {
    color: orange;
    text-decoration: underline;
}

.form-box a:hover {
    text-decoration: underline;
}

.form-box .forgot-pass {
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;
}

form button {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 0;
    border-radius: 3px;
    margin: 25px 0;
    color: black;
    cursor: pointer;
    background: orange;
    transform: 0.2s ease;
}

form button:hover {
    background: rgb(255, 208, 120);
}

.form-box .bottom-link {
    text-align: center;
}